[submodule "Seção"]
	path = Seção
	url = https://github.com/acenelio/exceptions1-java.git
[submodule "chess-system"]
	path = Seção 16/chess-system
	url = git@github.com:MaJoRShS/chess-system.git
[submodule "Seção 20/lambda1-java"]
	path = Seção 20/lambda1-java
	url = https://github.com/acenelio/lambda1-java
[submodule "Seção 21/demo-dao-jdbc"]
	path = Seção 21/demo-dao-jdbc
	url = git@github.com:MaJoRShS/demo-dao-jdbc.git
